body {	font-family: sans-serif; background-color: white }
.content{line-height: 1.4}
p,ul {  max-width: 850px }
h3,h4 { max-width: 870px }
code {	font-family: monospace}
a {	color: #0000aa; text-decoration: none}
a:hover{background-color: #DDD}
.menu a.l-about:hover{background-color: #DDD}
.menu {	border-width: 0px 0px 1px;
	border-style: solid;
	margin: 10pt 0px 3ex;
	padding: 2px 0px}
.menu a.l-about {background: linear-gradient(0deg,
	transparent 8pt, #009 8pt,
	#009 9pt, transparent 9pt,
	transparent 11pt, #009 11pt,
	#009 12pt, transparent 12pt,
	transparent 14pt, #009 14pt,
	#009 15pt, transparent 15pt);
	font-size: 20pt; }
.menu a {font-size: 16pt; font-weight:bold}
.menu a,span{font-style: italic;
	padding: 4pt 0.5em 0px;
	margin: 0px;
	vertical-align: bottom;
	border-width: 0px 0px 3px}
.menu span {float: right; text-align: right; font-size: 7pt}
.notice {padding: 1em 1.5em;
	margin: 3ex 1em;
	background-color: #ccf;
	font-size: 90%}
p.foot {text-align: right;
        border-style: solid;
        border-width: 1px 0px 0px;
        line-height: 1}
pre {   background: #ffffc8;
        border: 1px solid black;
        margin: 1ex 3em;
        padding: 0.6em 1em; overflow: auto}
pre.hello {float: right}
h3,h4 { padding: 1px;
	margin: 1em 1px 0.7em;
	border-width: 0px 0px 1px;
	border-style: solid;
	line-height: 1}
