<!DOCTYPE html><html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description"
content="Yeti is ML style functional programming language with static type inference, that runs on the JVM.">
<link rel="stylesheet" href="style.css"><style>
.menu a.{{ page.linkid }} {color: black; border-style: solid; border-color: black}
</style><title>{{ page.title }}</title><body><div class="menu">
<a href="index.html" class="l-about">YETI</a>
<a href="releases.html" class="l-releases">Releases</a>
<span>... and the slime became the worm and the worm the serpent,<br>the serpent became the yeti of the mountain forests and the yeti became man.</span>
</div><div class=content>{{ content }}</div></body></html>
